<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Diet Achiever.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2109D09D1D67A74600BB9BF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2109D0B61D67A74700BB9BF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2109D0C11D67A74700BB9BF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
